body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.main-header {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapper {
  display: flex;
  overflow: hidden;
  width: 100%;
}

.img-item {
  flex-shrink: 0;
  animation: slide 30s linear infinite alternate;
  width: 150px;
  height: 150px;
  border-radius: 30px;
  padding: 20px;
  margin: 20px;
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px,
    rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.img-item:hover {
  scale: 1.02;
}

.wrapper:hover .img-item {
  animation-play-state: paused; /* Pausa la animación */
}

.img-item img {
  width: 100%;
  height: 100%;
  display: block;
}

.main-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: white;
  text-align: center;
  width: 100%;
  pointer-events: none;
}

.main-content .title h1 {
  font-size: 9em;
  margin: 0;
  padding: 0;
  text-transform: lowercase;
  font-weight: bold;
  color: #280044;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-reverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.middle-row-animation .img-item {
  animation-direction: alternate-reverse;
}
.promo-banner {
  background: linear-gradient(90deg, #ffd700, #ffad00);
  text-align: center;
  padding: 15px;
}

.promo-text {
  font-size: 1.8rem;
  font-weight: bold;
  color: #333;
}


.carousel-container {
  display: flex;
  gap: 10px;
  padding: 10px;
  overflow: hidden; /* Esto elimina las barras de desplazamiento */
  flex-wrap: nowrap; /* Evita el ajuste automático */
  justify-content: center; /* Centra los elementos */
}



.img-item img:hover {
  transform: scale(1.1);
}